/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
* {
  box-sizing:border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom */
a {
    color: #7e8c8d;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

li {
    list-style: none;
}

select {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,textarea {
  -webkit-touch-callout: auto;
  /*-webkit-appearance: none;*/
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: auto;
  user-select: auto;
}
.show {
  display: block;
}

.hide {
  display: none;
}

.clear:after {
  display: block;
  content: '';
  clear: both;
}
/*
@media only screen and (max-width: 320px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 352px) {
  html {
    font-size: 19px;
  }
}

@media only screen and (min-width: 352px) and (max-width: 384px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (min-width: 384px) and (max-width: 416px) {
  html {
    font-size: 21px;
  }
}

@media only screen and (min-width: 416px) and (max-width: 448px) {
  html {
    font-size: 22px;
  }
}

@media only screen and (min-width: 448px) and (max-width: 480px) {
  html {
    font-size: 23px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 512px) {
  html {
    font-size: 24px;
  }
}

@media only screen and (min-width: 512px) and (max-width: 544px) {
  html {
    font-size: 25px;
  }
}

@media only screen and (min-width: 544px) and (max-width: 576px) {
  html {
    font-size: 26px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 608px) {
  html {
    font-size: 27px;
  }
}

@media only screen and (min-width: 608px) and (max-width: 640px) {
  html {
    font-size: 28px;
  }
}

@media only screen and (min-width: 640px) {
  html {
    font-size: 29px;
  }
}
*/
/*二维码样式*/
.ewm-qrcode-border {
  display: inline-block;
  border: .25rem solid #EEEEEE;
  padding: .25rem;
}

