* {
  padding: 0;
  margin: 0;
}

.date-selector-locked {
  height: 100% !important;
  overflow: hidden !important;
}

.date-selector-bg {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(75, 75, 75, 0);
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  z-index: -1;
}

.date-selector-bg-up {
  z-index: 999 !important;
  background: rgba(75, 75, 75, 0.65) !important;
}

.date-selector-bg-delay {
  z-index: 999!important;
}

.date-selector-container {
  width: 100%;
  height: 250px;
  position: absolute;
  bottom: 0;
  transform: translate3d(0, 101%, 0);
  -webkit-transform: translate3d(0, 101%, 0);
  left: 0;
  background-color: #FFF;
  transition: transform .3s ease;
  -webkit-transition: -webkit-transform .3s ease;
  z-index: -1;
}

.date-selector-container-up {
  transform: translate3d(0, 0, 0) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
}

.date-selector-btn-box {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #FFFFFF;
  z-index: 10;
}

.date-selector-btn-box .date-selector-btn {
  position: absolute;
  display: inline-block;
  margin: 0 20px;
  color: #000;
  right: 0;
}

.date-selector-btn-box .date-selector-btn:nth-child(1) {
  left: 0;
  right: initial;
}

.date-selector-tab-box {
  display: inline-block;
  border-radius: 10px;
  margin: 9px 0;
  height: 32px;
  box-sizing: border-box;
  line-height: 30px;
  color: rgba(218, 218, 218, .7);
  background: #fff;
  border: 1px solid #fff;
}

.date-selector-tab-box .date-selector-tab {
  display: inline-block;
  padding: 0 10px;
  transition: all .3s ease;
}

.date-selector-tab-box .date-selector-tab:first-child {
  border-right: 1px solid #fff;
}

.date-selector-tab-box .date-selector-tab-active {
  color: #fff;
  border-radius: 10px;
  background: rgba(219, 219, 219, 1);
}

.date-selector-content-left {
  transform: translate3d(-100%, 0, 0) !important;
  -webkit-transform: translate3d(-100%, 0, 0) !important;
}

.date-selector-content-right {
  transform: translate3d(100%, 0, 0) !important;
  -webkit-transform: translate3d(100%, 0, 0) !important;
}

.date-selector-content {
  position: absolute;
  width: 100%;
  background: #fff;
  font-size: 0;
  top: 50px;
  z-index: 10;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition: transform .3s ease;
  -webkit-transition: -webkit-transform .3s ease;
}

.date-selector-content .date-selector {
  display: inline-block;
  height: 200px;
  overflow: hidden;
  position: relative;
  z-index: -1;
  vertical-align: top;
  top: 0;
}

.date-selector-content .date-selector-left {
  width: 33.33%;
}

.date-selector-content .date-selector-right {
  width: 50%;
}

.date-selector-content ul::-webkit-scrollbar {
  display: none;
}

.date-selector-content li {
  height: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  list-style: none;
}

.date-selector-content .date-selector-up-shadow, .date-selector-content .date-selector-down-shadow {
  width: 100%;
  height: 80px;
  position: absolute;
  pointer-events: none;
  background-image: linear-gradient(to bottom, #FFF, rgba(255, 255, 255, 0));
  z-index: 50;
}

.date-selector-content .date-selector-up-shadow {
  top: 0;
}

.date-selector-content .date-selector-down-shadow {
  bottom: 0;
  z-index: 50;
  background-image: linear-gradient(to top, #FFF, rgba(255, 255, 255, 0));
}

.date-selector-content .date-selector-line {
  width: 95%;
  height: 40px;
  position: absolute;
  top: 80px;
  left: 50%;
  pointer-events: none;
  box-sizing: border-box;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
}

/*# sourceMappingURL=dateController.css.map */
