/*
 *公共样式
 */
/*图片响应*/
body {
  background-color: #fff;
   overflow: hidden;
}

.linear{
  background-image:linear-gradient(to right,#ec2f30,#fc6b4e);
}

.nolinear{
  background-color:#e9493d;
}

.grayfont{
  color:#868686;
}

.red{
  color:#f54b3c;
}

/*最外层父元素*/
.parent-wrap{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width: 100%;
  bottom:0;
  right:0;
  display:flex;
  z-index:20;
  flex-direction: column;
  background: #ffffff;
  /*overflow: scroll;*/
}
.parent-wrap::-webkit-scrollbar {
  display: none;
}
.content-wrapper::-webkit-scrollbar {
  display: none;
}

.content-wrapper {
  /*margin-top:3.375rem;*/
  margin-top:2.96rem;
  flex: 1;
  overflow: scroll;
  height: 100%;
  background: #f4f4f4;
   /*margin-bottom: 4.1rem;*/
}
/*@taote ios适配*/
.content-wrapper-ios{
  margin-top:3.65rem !important;
}
.img-response {
  display: block;
  /*height: auto;*/
  height: 100%;
  width: 100%;
}

input {
  outline: none
}

/*字体颜色*/
/*灰色字体*/
.gray {
  color: #6d6d6d;
}
.orange{
  color: #f05d4b!important;
}

.blue{
  color:#2e94e9;
}

/*向右页面滑动切换过渡动画*/
.slide-right-leave-active, .slide-right-enter-active {
  transition: transform .4s;
  transform: translateX(0)
}

.slide-right-leave-to, .slide-right-enter {
  transform: translateX(100%);
  /*opacity: 0;*/
}

/*向左页面滑动切换过渡动画*/
.slide-left-leave-active, .slide-left-enter-active {
  transition: transform .4s;
  transform: translateX(0);
}

.slide-left-leave-to, .slide-left-enter {
  transform: translateX(100%)
  /*opacity: 0;*/
}
/*透明渐变效果*/
.showOpacity-leave-active, .showOpacity-enter-active {
  transition: opacity .4s;
  opacity: 1;
}
.showOpacity-leave-to, .showOpacity-enter {
  opacity: 0;
}
/*卷轴效果*/
.slice-bottom-leave-active, .slice-bottom-enter-active {
  transition: all .4s;
  /*height: 15rem;*/
}
.slice-bottom-enter-to{
  height: 15rem;
}
.slice-bottom-leave-to,.slice-bottom-enter {
  height:0;
  opacity: 0;
}



.header-bar {
  position: absolute !important;
  /*margin-top: -2px;*/
}

/*边框公共样式，为了方便修改*/
.border-top, .border-bottom, .border-left, .border-right {
  position: relative;
}

.border-top:before, .border-bottom:after, .border-left:after, .border-right:after {
  position: absolute;
  display: block;
  content: '';
  transform: scale(.5);
  background-color: #bfbfbf;
}

.border-top:before {
  left: -50%;
  height: 1px;
  width: 200%;
  top: 0;
}

.border-bottom:after {
  bottom: 0;
  height: 1px;
  width: 200%;
  left: -50%;
}

.border-left:after {
  left: 0;
  height: 200%;
  top: -50%;
  width: 1px;
}

.border-right:after {
  right: 0;
  height: 200%;
  top: -50%;
  width: 1px;
}

/*边框阴影*/
.box-shadow-bottom {
  box-shadow: 0 .15rem .15rem #e2e2e2;
}

/*.content{*/
/*margin:2.766rem 0 3.13rem 0;*/
/*}*/
/*模板样式*/
/*最外层父元素*/

/*键盘蒙版样式*/
#PWDKBD .kbd-mask {
  background: rgba(255, 255, 255, 0.2) !important;
}

/*公共组件样式*/
.parent-child-wrap {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.parent-child-wrap .content{
  flex:1;
  display: flex;
  flex-direction: column;
  margin-top: 2.96rem;
}
.parent-child-wrap .content-ios{
   margin-top: 3.65rem;
}

#countContainer1 .date-selector-btn-box{
  background: linear-gradient(to right, rgb(236, 47, 48), rgb(252, 107, 78));
}
#countContainer2 .date-selector-btn-box{
  background: linear-gradient(to right, rgb(236, 47, 48), rgb(252, 107, 78));
}


